.parent {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 12px;

    &__div1 {
        grid-area: 1 / 1 / 2 / 6;
        height: 100px;
        width: 100%;
        @include d-flex;
        @include m-10;
        @include p-20;
    }

    &__div2 {
        grid-area: 2 / 1 / 5 / 4;
        @include d-flex;
        @include flex-column;
        padding: 60px;
    }

    &__div3 {
        grid-area: 2 / 4 / 6 / 6;

    }

    &__div4 {
        grid-area: 5 / 1 / 6 / 4;
        @include d-flex;
        @include flex-row;
        padding: 60px;
    }
}

// media query

@media (max-width: 990px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        &__div1 {
            grid-area: 1 / 1 / 2 / 5;
            height: 90px;
        }

        &__div2 {
            grid-area: 5 / 1 / 7 / 3;

        }

        &__div3 {
            grid-area: 2 / 1 / 5 / 3;
        }

        &__div4 {
            grid-area: 7 / 1 / 8 / 3;
        }
    }

}