.parent {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 12px;

    &__div1 {
        grid-area: 1 / 1 / 2 / 6;
        height: 100px;
        width: 100%;
        @include d-flex;
        @include m-10;
        @include p-20;
    }

    &__div2 {
        grid-area: 2 / 1 / 5 / 4;
        @include d-flex;
        @include flex-column;
        padding: 60px;
    }

    &__div3 {
        background-image: url('../../images/image-hero-desktop.png');
        background-size: cover;
        height: 90%;
        background-position: center;
        grid-area: 2 / 4 / 6 / 6;

    }

    &__div4 {
        grid-area: 5 / 1 / 6 / 4;
        @include d-flex;
        @include flex-row;
        padding: 60px;
    }
}