.parent {
    &__div1 {
        &--nav {
            @include d-flex;
            width: 80%;
        }

        &--listAnim {
            margin-left: 60px;
            @include d-flex;

            >li {
                margin-right: 60px;
            }
        }

    }
}

.cards {
    @include card;
    left: 104px;
    top: 90px;
    transform: translateY(-20px);
    width: 150px;
    height: 160px;
    


    >li {
        margin-bottom: 10px;
        @include ml-10;
        font-size: 14px;
    }
}

.cards2 {
    @include card;
    left: 290px;
    top: 90px;
    transform: translateY(-20px);
    width: 140px;
    height: 145px;



    >li {
        margin-bottom: 10px;
        @include ml-10;
        font-size: 14px;
    }
}

.btn {
    margin-left: 30px;
    font-size: 15px;
    margin-bottom: 40px;
    background: transparent;
    @include align-items-center;
    @include font;

    &--btnPrimary {
        border-radius: 18px;
        border: 1px solid black;
        display: inline-block;
        cursor: pointer;
        padding: 13px 48px;
        text-decoration: none;
        align-self: center;
    }
}