@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
/* Flex */
/* padding */
/* margin */
/* Base du site settings */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Epilogue", sans-serif;
  color: hsl(0deg, 0%, 8%);
  line-height: 1.7;
  background-color: hsl(0deg, 0%, 98%);
}

a {
  color: hsl(0deg, 0%, 8%);
  text-decoration: none;
}

.parent {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 12px;
}
.parent__div1 {
  grid-area: 1/1/2/6;
  height: 100px;
  width: 100%;
  display: flex;
  margin: 10px;
  padding: 20px;
}
.parent__div2 {
  grid-area: 2/1/5/4;
  display: flex;
  flex-direction: column;
  padding: 60px;
}
.parent__div3 {
  grid-area: 2/4/6/6;
}
.parent__div4 {
  grid-area: 5/1/6/4;
  display: flex;
  flex-direction: row;
  padding: 60px;
}

@media (max-width: 990px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .parent__div1 {
    grid-area: 1/1/2/5;
    height: 90px;
  }
  .parent__div2 {
    grid-area: 5/1/7/3;
  }
  .parent__div3 {
    grid-area: 2/1/5/3;
  }
  .parent__div4 {
    grid-area: 7/1/8/3;
  }
}
.parent__div1--nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.parent__div1--listAnim {
  margin-left: 60px;
  display: flex;
}
.parent__div1--listAnim > li {
  margin-right: 60px;
}
.parent__div1--login {
  display: flex;
  justify-content: flex-end;
}
.parent__div1--login .btn {
  margin-left: 30px;
  font-size: 15px;
  margin-bottom: 40px;
  background: transparent;
  align-items: center;
  font-family: "Epilogue", sans-serif;
}
.parent__div1--login .btn--btnPrimary {
  border-radius: 18px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  padding: 13px 48px;
  text-decoration: none;
  align-self: center;
}
.parent__div1--login .btn--btnPrimary:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.arrowChange {
  transition: 0.3s ease-in-out;
  transform: rotate(180deg);
}

.cards {
  display: none;
  position: absolute;
  transition: 0.3s all;
  border-radius: 11px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
  left: 104px;
  top: 90px;
  transform: translateY(-20px);
  width: 150px;
  height: 160px;
}
.cards > li {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
}

.cards2 {
  display: none;
  position: absolute;
  transition: 0.3s all;
  border-radius: 11px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
  left: 290px;
  top: 90px;
  transform: translateY(-20px);
  width: 140px;
  height: 145px;
}
.cards2 > li {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
}

.menuHamburger {
  display: none;
}
.menuHamburger--bar1 {
  background: hsl(0deg, 0%, 8%);
  width: 30px;
  height: 3px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.menuHamburger--bar2 {
  background: hsl(0deg, 0%, 8%);
  width: 30px;
  height: 3px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.menuHamburger--bar3 {
  background: hsl(0deg, 0%, 8%);
  width: 30px;
  height: 3px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

#toogleResponsive {
  display: none;
}

.menuMobile {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: "Epilogue", sans-serif;
  position: absolute;
  border: 1px solid hsl(0deg, 0%, 8%);
  height: 160vh;
  width: 40%;
  background-color: hsl(0deg, 0%, 98%);
  right: 0;
  top: 0;
  z-index: 99999;
  transition: 0.3s all;
}
.menuMobile--close {
  width: 30px;
  height: 30px;
  display: flex;
  align-self: flex-end;
  cursor: pointer;
}
.menuMobile__div1--listAnim {
  padding: 30px;
}
.menuMobile__div1--listAnim > li {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
}
.menuMobile__btn {
  margin-left: 30px;
  font-size: 15px;
  margin-bottom: 20px;
  background: transparent;
  align-items: center;
  font-family: "Epilogue", sans-serif;
}
.menuMobile__btn--btnPrimary {
  width: 60%;
  border-radius: 18px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  padding: 13px 48px;
  text-decoration: none;
  align-self: center;
}

.overflow {
  overflow: hidden;
  background-color: hsl(0deg, 0%, 41%);
  z-index: 99;
}

@media (max-width: 990px) {
  .parent__div1--nav {
    display: flex;
    justify-content: end;
  }
  .parent__div1--listAnim {
    display: none;
    max-width: 10vh;
    line-height: 2.5rem;
  }
  .parent__div1--login {
    display: none;
  }

  .menuMobile {
    width: 63%;
    transform: translateY(0%);
  }
  .menuMobile__div1--containerButton {
    display: flex;
    flex-direction: column;
  }
  .menuMobile__btn--btnPrimary {
    width: 95%;
  }

  .cardsMobile {
    display: none;
    margin-left: 10px;
    line-height: 2rem;
  }

  .cardsMobile2 {
    display: none;
    margin-left: 10px;
    line-height: 2rem;
  }

  .menuHamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
  }
}
.parent__div2--h1 {
  font-family: "Epilogue", sans-serif;
  font-size: 90px;
  line-height: normal;
  margin-bottom: 60px;
}
.parent__div2--p {
  font-family: "Epilogue", sans-serif;
  width: 80%;
  color: hsl(0deg, 0%, 41%);
  font-size: 20px;
  line-height: normal;
  margin-bottom: 60px;
  text-align: justify;
}
.parent__div2--btn {
  font-family: "Epilogue", sans-serif;
  font-size: 15px;
  background: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  border: 1px solid hsl(0deg, 0%, 8%);
  width: 170px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.parent__div2--btn:hover {
  background: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 8%);
}

@media screen and (max-width: 400px) {
  .parent__div2 {
    padding: 0;
    margin-left: 20px;
  }
  .parent__div2--h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .parent__div2--p {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .parent__div2--btn {
    width: 95%;
  }
}
.parent__div4--client {
  margin-right: 60px;
}

@media screen and (max-width: 400px) {
  .parent__div4 {
    padding: 23px;
  }
  .parent__div4--client {
    margin-right: 20px;
  }
  .parent__div4--client > img {
    width: 67px;
  }
}
@media screen and (min-width: 402px) and (max-width: 610px) {
  .parent__div4 {
    padding: 23px;
  }
  .parent__div4--client {
    margin-right: 20px;
  }
  .parent__div4--client > img {
    width: 80px;
  }
}
.parent__div3 {
  width: 500px;
  height: 600px;
}
.parent__div3 > img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 990px) {
  .parent__div3 {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 400px) {
  .parent__div3 > img {
    width: 100%;
    height: 80%;
  }
}
@media screen and (min-width: 402px) and (max-width: 600px) {
  .parent__div3 > img {
    width: 100%;
    height: 80%;
  }
}/*# sourceMappingURL=index.Style.css.map */